@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0 auto;
  max-width: 400px;
  min-height: 100vh;
  background-color: white;
  color: black;
}
